.footer-custom {
    padding: 30px 0; /* Khoảng cách giữa nội dung và biên của footer */
}

.footer-custom h5 {
    color: #fff; /* Màu chữ */
}

.footer-custom p, .footer-custom ul li a {
    color: #ccc; /* Màu chữ nhạt */
}

.footer-custom ul {
    padding: 0;
    list-style: none; /* Loại bỏ dấu chấm tròn */
}

.footer-custom ul li {
    margin-bottom: 10px; /* Khoảng cách giữa các mục trong danh sách */
}

.footer-custom ul li a:hover {
    color: #fff; /* Màu chữ khi hover */
}
