<footer class="footer-custom bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h5>QLRPFE</h5>
                <p>Địa chỉ: Quy Nhơn, Bình Định</p>
                <p>Điện thoại: 0123 456 789</p>
                <p>Email: Phudo.com</p>
            </div>
            <div class="col-md-6 text-right">
                <h5>Liên kết nhanh</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Phòng chiếu</a></li>
                    <li><a href="#">Lịch chiếu</a></li>
                    <li><a href="#">Vé</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2024 QLRPFE. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
