<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h1> Đăng Ký</h1>
    <div>
      <label for="tenNguoiDung">Tên người dùng:</label>
      <input type="text" id="tenNguoiDung" formControlName="tenNguoiDung" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>
    </div>
    <div>
      <label for="matKhau">Mật khẩu:</label>
      <input type="password" id="matKhau" formControlName="matKhau" required>
    </div>
    <button type="submit">Đăng ký</button>
  </form>