<app-header></app-header>
<div class="app-container" [class.blurred]="showLogin"> 
  <!-- <app-header-admin></app-header-admin> -->
 <!-- <app-trailer></app-trailer> -->
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <app-poster></app-poster>
  <app-dashboard></app-dashboard>
  <app-footer></app-footer>
</div>

<app-login *ngIf="showLogin"></app-login>


<!--

 <app-list-phim> </app-list-phim>
<app-list-phong-chieu> </app-list-phong-chieu>
<app-list-xuat-chieu></app-list-xuat-chieu>
<app-create-phim></app-create-phim> -->