<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QLRPFE Dashboard</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
   
  </head>
  <body>
    <div class="dashboard">
      <div class="card">
        <div class="card-header">Danh Sách Phim </div>
        <div class="card-body">
          <!-- Danh sách phim -->
          <div class="movie-list">
            <div class="movie">
              <img
                src="https://cdn.galaxycine.vn/media/2024/6/7/gtcn-500_1717732724699.jpg"
                alt="Tên Phim 1"
              />
              <h6>Gia Tài Của Ngoại</h6>
              <p>Ngày Chiếu: 07/06/2024</p>
              <li class="nav-item">
                <a  class="btn btn-outline-success my-2 my-sm-0" type="submit">Đặt Vé</a>
              </li>
            </div>
            <div class="movie">
              <img
                src="https://cdn.galaxycine.vn/media/2024/5/27/garfield-1_1716798361490.jpg"
                alt="Tên Phim 2"
              />
              <h6>Garfield: Mèo Béo Siêu Quậy</h6>
              <p>Ngày Chiếu: 08/06/2024</p>
              <li class="nav-item">
                <a  class="btn btn-outline-success my-2 my-sm-0" type="submit">Đặt Vé</a>
              </li>
            </div>
            <div class="movie">
              <img
                src="https://cdn.galaxycine.vn/media/2024/6/5/bad-boy-500_1717559748357.jpg"
                alt="Tên Phim 3"
              />
              <h6>Những Gã Trai Hư: Chơi Hay Bị Xơi</h6>
              <p>Ngày Chiếu: 08/06/2024</p>
              <li class="nav-item">
                <a  class="btn btn-outline-success my-2 my-sm-0" type="submit">Đặt Vé</a>
              </li>
            </div>
            <!-- Thêm các mục phim khác tương tự -->
            <div class="movie">
              <img
                src="https://cdn.galaxycine.vn/media/2024/6/4/following_1717482559834.jpg"
                alt="Tên Phim 4"
              />
              <h6>Stalker: Tội Ác Hoàn Hảo</h6>
              <p>Ngày Chiếu: 07/06/2024</p>
              <li class="nav-item">
                <a  class="btn btn-outline-success my-2 my-sm-0" type="submit">Đặt Vé</a>
              </li>
            </div>
            <div class="movie">
              <img
                src="https://cdn.galaxycine.vn/media/2024/5/21/doraemon-movie-43-nobitas-earth-symphony-1-1_1716273120350.jpg"
                alt="Tên Phim 5"
              />
              <h6> Doraemon: Nobita Và Bản Giao Hưởng Địa Cầu</h6>
              <p>Ngày Chiếu: 08/06/2024</p>
              <li class="nav-item">
                <a  class="btn btn-outline-success my-2 my-sm-0" type="submit">Đặt Vé</a>
              </li>
            </div>
            <div class="movie">
              <img
                src="https://cdn.galaxycine.vn/media/2024/6/6/mong-vuot-500-docx_1717644756258.jpg"
                alt="Tên Phim 6"
              />
              <h6>Móng Vuốt</h6>
              <p>Ngày Chiếu: 08/06/2024</p>
              <li class="nav-item">
                <a class="btn btn-outline-success my-2 my-sm-0" type="submit">Đặt Vé</a>
              </li>
            </div>
            <div class="movie">
              <img
                src="https://cdn.galaxycine.vn/media/2024/5/24/furiosa-500_1716547292998.jpg"
                alt="Tên Phim 7"
              />
              <h6>Furiosa: Câu Chuyện Từ Max Điên</h6>
              <p>Ngày Chiếu: 07/06/2024</p>
              <li class="nav-item">
                <a  class="btn btn-outline-success my-2 my-sm-0" type="submit">Đặt Vé</a>
              </li>
            </div>
            <div class="movie">
              <img
                src="https://cdn.galaxycine.vn/media/2024/5/28/lhvn-500_1716885771360.jpg"
                alt="Tên Phim 8"
              />
              <h6>Linh Hồn Vũ Nữ 2: Nghi Thức Hồi Sinh</h6>
              <p>Ngày Chiếu: 08/06/2024</p>
              <li class="nav-item">
                <a  class="btn btn-outline-success my-2 my-sm-0" type="submit">Đặt Vé</a>
              </li>
            </div>
            <div class="movie">
              <img
                src="https://cdn.galaxycine.vn/media/2024/5/22/totto-chan-the-little-girl-at-the-window-1_1716352887529.jpg"
                alt="Tên Phim 9"
              />
              <h6>Totto-chan: Cô Bé Bên Cửa Sổ</h6>
              <p>Ngày Chiếu: 08/06/2024</p>
              <li class="nav-item">
                <a  class="btn btn-outline-success my-2 my-sm-0" type="submit">Đặt Vé</a>
              </li>
            </div>
            <div class="movie">
              <img
                src="https://cdn.galaxycine.vn/media/2024/5/27/pee-nak-4-1_1716796582162.jpg"
                alt="Tên Phim 10"
              />
              <h6>Ngôi Đền Kỳ Quái 4</h6>
              <p>Ngày Chiếu: 07/06/2024</p>
              <li class="nav-item">
                <a  class="btn btn-outline-success my-2 my-sm-0" type="submit">Đặt Vé</a>
              </li>
            </div>
            <div class="movie">
              <img
                src="https://cdn.galaxycine.vn/media/2024/4/26/lm7-500_1714101585009.jpg"
                alt="Tên Phim 11"
              />
              <h6>Lật Mặt 7: Một Điều Ước</h6>
              <p>Ngày Chiếu: 08/06/2024</p>
              <li class="nav-item">
                <a  class="btn btn-outline-success my-2 my-sm-0" type="submit">Đặt Vé</a>
              </li>
            </div>
            <div class="movie">
              <img
                src="https://cdn.galaxycine.vn/media/2024/5/13/haikyuu-the-dumpster-battle-4_1715588036535.jpg"
                alt="Tên Phim 12"
              />
              <h6>Haikyu!!: Trận Chiến Bãi Phế Liệu</h6>
              <p>Ngày Chiếu: 08/06/2024</p>
              <li class="nav-item">
                <a class="btn btn-outline-success my-2 my-sm-0" type="submit">Đặt Vé</a>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
