<!-- src/app/components/admin-ghe/admin-ghe.component.html -->
<div class="container">
  <h2 class="text-center mt-4">Danh sách ghế</h2>
  <button class="btn btn-primary mb-4" (click)="toggleForm()">Tạo mới</button>

  <div *ngIf="showForm">
    <form (ngSubmit)="saveGhe()">
      <div class="form-group">
        <label for="PhongChieuID">Phòng chiếu:</label>
        <select id="PhongChieuID" [(ngModel)]="newGhe.PhongChieuID" name="PhongChieuID" class="form-control" required>
          <option [ngValue]="0">Select a room</option>
          <option *ngFor="let phong of phongChieus" [ngValue]="phong.PhongChieuID">{{ phong.SoPhong }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="SoGhe">Số ghế:</label>
        <input type="text" id="SoGhe" [(ngModel)]="newGhe.SoGhe" name="SoGhe" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="TrangThai">Trạng thái:</label>
        <select id="TrangThai" [(ngModel)]="newGhe.TrangThai" name="TrangThai" class="form-control" required>
          <option value="Available">Available</option>
          <option value="Occupied">Occupied</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success">Lưu</button>
      <button type="button" class="btn btn-secondary" (click)="toggleForm()">Hủy</button>
    </form>
  </div>

  <div *ngIf="!showForm">
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>ID</th>
          <th>Phòng chiếu</th>
          <th>Số ghế</th>
          <th>Trạng thái</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ghe of ghes">
          <td>{{ ghe.GheID }}</td>
          <td>{{ getPhongChieuNumber(ghe.PhongChieuID) }}</td>
          <td>{{ ghe.SoGhe }}</td>
          <td>{{ ghe.TrangThai }}</td>
          <td>
            <button class="btn btn-warning" (click)="editGhe(ghe)">Sửa</button>
            <button class="btn btn-danger" (click)="deleteGhe(ghe.GheID)">Xóa</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
