<div class="slideshow">
    <img src="https://cdn.galaxycine.vn/media/2024/5/27/garfield-3_1716798528834.jpg" alt="Poster của bộ phim XYZ">
    <img src="https://cdn.galaxycine.vn/media/2024/6/6/mong-vuot-2048_1717644782564.jpg" alt="Poster của bộ phim XYZ">
    <img src="https://cdn.galaxycine.vn/media/2024/6/7/gtcn-2048_1717732764973.jpg" alt="Poster của bộ phim XYZ">
    <img src="https://cdn.galaxycine.vn/media/2024/6/3/pht-2048_1717403979854.jpg" alt="Poster của bộ phim XYZ">
    <img src="https://cdn.galaxycine.vn/media/2024/6/5/bad-boy-2048_1717559825784.jpg" alt="Poster của bộ phim XYZ">
</div>  